
URxvt*font:xft:Inconsolata for Powerline:style=Medium:size=12
!URxvt*font:xft:Noto Mono:size=12
!URxvt*boldFont:xft:Noto Mono:size=12:bold

URxvt*saveLines:            1024
URxvt*geometry:             80x25
URxvt*buffered:             true
URxvt*cursorBlink:          true
URxvt*cursorUnderlline:     false
URxvt*internalBorder:       0
URxvt*scrollBar:            false
URxvt*scrollstyle:          plain
URxvt*scrollColor:          #2873a2
URxvt*scrollWithBuffer:     false
URxvt*pointerBlank:         true
URxvt*tabbed.tab-fg:        0
URxvt*tabbed.tab-fg:        4
URxvt*depth: 32

!#include ".Xresources.d/monokai.dark"
!#include ".Xresources.d/monokai.light"
!#include ".Xresources.d/google.dark"
!#include ".Xresources.d/solarized.light"
!#include ".Xresources.d/solarized.dark"
!#include ".Xresources.d/mocha.dark"
!#include ".Xresources.d/default.dark"
!#include ".Xresources.d/bespin.dark"
!#include ".Xresources.d/trim-yer-beard"
!#include ".Xresources.d/ashes.dark"
!#include ".Xresources.d/default.dark"
!#include ".Xresources.d/canvased"
#include ".Xresources.d/eqie6"
