!xterm
xterm*font:     *-fixed-*-*-*-18-*
xterm*selectToClipboard: true
xterm*internalBorder: 0

*saveLines:         1024

!urxvt
URxvt*font:xft:Noto Mono:style=Regular:size=11:bold:antialias=true:hinting=full
!URxvt*font:xft:Ubuntu Mono derivative Powerline:style=Regular:size=14:antialias=true:hinting=true
!URxvt*boldFont:xft:Ubuntu Mono derivative Powerline:style=Bold:size=14:antialias=true:hinting=true
!URxvt*italicFont:xft:Ubuntu Mono derivative Powerline:style=Italic:size=14:antialias=true:hinting=true
!URxvt*boldItalicFont:xft:Ubuntu Mono derivative Powerline:style=Bold Italic:size=14:antialias=true:hinting=true

URxvt*geometry:             80x26
URxvt*buffered:             true
URxvt*cursorBlink:          true
URxvt*cursorUnderlline:     false
URxvt*internalBorder:       0
URxvt*scrollBar:            false
URxvt*scrollstyle:          plain
URxvt*scrollColor:          #2873a2
URxvt*scrollWithBuffer:     false
URxvt*pointerBlank:         true
URxvt*tabbed.tab-fg:        0
URxvt*tabbed.tab-fg:        4
URxvt*depth: 32

!#include ".Xresources.d/monokai.dark"
!#include ".Xresources.d/monokai.light"
!#include ".Xresources.d/google.dark"
!#include ".Xresources.d/solarized.light"
!#include ".Xresources.d/mocha.dark"
!#include ".Xresources.d/default.dark"
!#include ".Xresources.d/bespin.dark"
#include ".Xresources.d/trim-yer-beard"
